.navbar {
    text-align: center;
    background-color: blue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px;
}

body {
    background-color: lightgray;
}

button {
    border-radius: 10px;
}

.back {
    border-end-start-radius: 50px;
    border-end-end-radius: 50px;
    background-color: black;
}

.game-field {
    padding: 10px;
    margin: 10 auto;
    display: flex;
    flex-direction: column;
}

.game-field .row {
    height: 16px;
    display: flex;
    justify-content: center;
}

.game-field .row .field {
    height: 16px;
    width: 16px;
    background: sandybrown;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .wall {
    height: 16px;
    width: 16px;
    background: gray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .void {
    height: 16px;
    width: 16px;
    background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .player {
    height: 16px;
    width: 16px;
    background: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .box {
    height: 16px;
    width: 16px;
    background: brown;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .target {
    height: 16px;
    width: 16px;
    background: tan;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body {*/
/*    background-color: lightsteelblue;*/
/*}*/

/*.board {*/
/*    display: grid;*/
/*    grid-template: repeat(5, 20%) / repeat(5, 20%);*/
/*    background-color: yellow;*/
/*}*/