.game-field {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.game-field .row {
    height: 16px;
    display: flex;
}

.game-field .row .field {
    height: 16px;
    width: 16px;
    background: sandybrown;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .wall {
    height: 16px;
    width: 16px;
    background: url('/img/wall.png');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .void {
    height: 16px;
    width: 16px;
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .player {
    height: 16px;
    width: 16px;
    background: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .box {
    height: 16px;
    width: 16px;
    background: brown;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-field .row .target {
    height: 16px;
    width: 16px;
    background: tan;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*body {*/
/*    background-color: lightsteelblue;*/
/*}*/

/*.board {*/
/*    display: grid;*/
/*    grid-template: repeat(5, 20%) / repeat(5, 20%);*/
/*    background-color: yellow;*/
/*}*/